<%- include('head') %>


<%- include('nav') %>

<img src="images/aboutus.jfif" alt="landinghero" style="width:100%">

	<h2>About Us</h2>
    <h4>Lakeside Hotel is a modern and stylish hotel, situated on the western edge of Norwich with 32 rooms to cater the different needs of our respected guests. With close proximity to the Norfolk and Norwich hospital and research park, the hotel is the perfect location for trips into the Norwich City. Our hotel also caters to everybody with a great range of different facilities such as our restaurant, bar, gym, meeting and function rooms.</h4>
	
	<h2>Location</h2>
    <h4>Norwich is by the River Wensum about 100 miles (160 km) north-east of London, 40 miles (64 km) north of Ipswich and 65 miles (105 km) east of Peterborough. We're a city that celebrates the independent, stimulates creativity, promotes change and encourages diversity.</h4>

    <div class="oneimage">
        <img src="images/location.jfif" alt="location" style="width:100%">
    </div>

<div class="section">
    <h2>Attractions</h2>
    <div class="threeimage">
        <img src="images/attraction1.jpeg" alt="attraction1" style="width:100%">
        <h3><b>Norwich Street</b></h3>
        <p>Norwich has many picturesque streets, some may say they are ‘Instagrammable’. As you walk through the city, you may feel like you have stepped back in time with the cobbled streets and medieval buildings. 
            </p>
    </div>
    <div class="threeimage">
        <img src="images/attraction2.jpeg" alt="attraction2" style="width:100%">
        <h3><b>Sainsbury Centre for Visual Arts</b></h3>
        <p>The Sainsbury Centre is an art gallery, museum and cafe including outstanding works by Picasso, Bacon and Degas located in the grounds of the UEA.
        </p>       
    </div>
    <div class="threeimage">
        <img src="images/attraction3.jpeg" alt="attraction3" style="width:100%">
        <h3><b>Cow Tower by the River Wensum</b></h3>
        <p>The Cow Tower is an artillery tower by the River Wensum in Norwich, Norfolk, England. Built between 1398 and 1399 by the city authorities in response to the threat from France and indigenous English rebels.
        </p>       
    </div>
</div>

<div class="section">
    <div class="threeimage">
        <img src="images/attraction4.jpeg" alt="attraction4" style="width:100%">
        <h3><b>Norwich Theatre Royal</b></h3>
        <p>Norwich Theatre is a leading arts organisation in the UK and the largest in the East of England, presenting a vibrant programme of live performance and creative engagement activities to entertain, enrich and inspire audiences of all ages and backgrounds.
            </p>
</div>

<div class="threeimage">
    <img src="images/attraction5.jpeg" alt="attraction5" style="width:100%">
    <h3><b>Norwich Cathedral</b></h3>
    <p>Unique for its gleaming cream-colored limestone exterior, Norwich Cathedral was built between 1096 and 1145 and should be at the top of your Norfolk travel itinerary. It is notable for its striking 315-foot-tall spire, the second highest in England after Salisbury Cathedral.
        </p>
</div>

<div class="threeimage">
    <img src="images/attraction6.jpeg" alt="attraction6" style="width:100%">
    <h3><b>Castle Museum</b></h3>
    <p>Built on a large artificial mound, Norwich Castle consists of a splendid Norman keep constructed around 1095 by William II. It's now home to a superb museum and art gallery. A café and a picnic room are located on-site, along with a gift shop. 
        </p>
</div>
</div>


<div class="section">
    <h2>Getting Here</h2>
    <img src="images/gettinghere.jpeg" alt="attraction5" style="width:100%">
    <div class="threeimage">
        <h3><b>By Bus</b></h3>
        <p>The following bus services stop directly outside the Lakeside Hotel: Konectbus Service Number 4, First Bus Service X1.
            </p>
</div>

<div class="images/threeimage">
    <h3><b>By Car</b></h3>
    <p>From the North and West, easily situated just off the A47 Norwich Southern Bypass at the A1074 Longwater Interchange. From the South and East, travelling to Norwich via the A11 from London any beyond or A140 from Ipswich, take the A47 westbound and follow the signs for Lakeside Hotel.
        </p>
</div>

<div class="threeimage">
    <h3><b>By Train</b></h3>
    <p>The nearest Railway Station is Norwich, approximately 7 miles from Lakeside Hotel.
        </p>
</div>
</div>

<%- include('footer') %>



