

	<h2>Booking Confirmation</h2>
   <h4> Thank you for booking with us. We hope you enjoy your stay.
  <br><br>	
  Please contact if you have any queries about the hotel. 
  <br><br> 
   Close this page or click <a href="/index">here</a> to return to the homepage. </h4>


  
    