<%- include('head') %>

<%- include('nav') %>

<img src="images/facilitieslanding.jfif" alt="Forest" style="width:100%">

	
	<h2>Facilities</h2>
    <h4>Norwich and the surrounding areas have many popular tourist attractions ranging from theme parks, golf clubs and zoos to areas of natural beauty. Have a look below at just some of the local attractions that are on offer near our Hotel and the surrounding area so you can plan your trip in advance. Our friendly reception team are more than happy to offer you advice or give suggestions on where to visit during your stay here at Lakeside Hotel.
    </h4>


<div class="section">
    <h2>Dining</h2>
    <div class="twoimage">
        <img src="images/hotelrestaurant.jfif" alt="Forest" style="width:100%">
        <h3><b>Restaurant</b></h3>
        <p>Dine at our luxurious restaurant, where we only serve fresh, locally sourced ingredients to our customers.  Our restaurant is available for breakfast, lunch and dinner every day.  Each night we include brand new specials and cater a variety of different cuisines.
        </p>       
    </div>
    <div class="twoimage">
        <img src="images/hotelbar.jfif" alt="Forest" style="width:100%">
        <h3><b>Bar</b></h3>
        <p>Our one-of-a-kind bar is also ideal for those who want a relaxing drink to wind down the evening with our huge range of different alcoholic and non-alcoholic beverages. 
        </p>       
    </div>
</div>

<div class="section">
    <h2>Gym</h2>
    <div class="twoimage">
        <img src="images/gym.jfif" alt="Forest" style="width:100%">
        <p>The Lakeside Gym offers all you need to refresh your senses. Enjoy your personal workout on some of the latest gym equipment including Technogym treadmills and elliptical equipment, free weights and gym balls. 
            </p>
    </div>
    <div class="twoimage">
        <img src="images/gym2.jfif" alt="Forest" style="width:100%">
        <p>Cardio machines are fitted with personal television screens to keep you entertained while you work out. The gym is located on the third level and is open from 7.00am to 7.00pm daily.
        </p>       
    </div>
</div>

<div class="section">
    <h2>Meeting and Events</h2>
    <div class="twoimage">
        <img src="images/meetingroom.jfif" alt="Forest" style="width:100%">
        <p>Perfect for parties and revelries, we feature a wide range of venues for meetings and events, accommodating 20 to 60 guests.  
            </p>
    </div>
    <div class="twoimage">
        <img src="images/meetingroom2.jfif" alt="Forest" style="width:100%">
        <p>Each venue is a unique experience, featuring innovative meeting space as well as cuisine with glimpses of local art and culture.
        </p>       
    </div>
</div>
<%- include('footer') %>





