</main>
<footer>
	<div class="footer">
		Watton Road<br>
		Norwich <br>
		NR5 8LZ<br>
		Phone: 01245 392695 <br>
		Email: lakesidehotel@gmail.com <br>
	</div>
	
	</footer>
	</body>
	</html>