<%- include('head') %>

<%- include('nav') %>
	
<img src="images/landinghero.jfif" alt="landinghero" style="width:100%">


	<h2>About the Hotel</h2>
    <h4>Lakeside Hotel is a modern and stylish hotel, situated on the western edge of Norwich.  With close proximity to the Norfolk and Norwich hospital and research park, the hotel is the perfect location for trips into the Norwich City.  Our hotel also caters to everybody with a great range of different facilities such as our restaurant, bar, gym, meeting and function rooms.</h4>
	<a href="about-us" class="button">Discover More</a>	
	<div class="oneimage">
			<img src="images/aboutus.jfif" alt="aboutus" style="width:100%">
	</div>


<div class="section">
    <h2>What's Coming Up</h2>
    <div class="threeimage">
        <img src="images/christmas.jpeg" alt="christmas" style="width:100%">
        <h3><b>Christmas Breaks</b></h3>
        <p>Our Christmas breaks have been thoughtfully designed with an array of enticing festive treats.
		</p>
    </div>
    <div class="threeimage">
        <img src="images/festive.jpeg" alt="festive" style="width:100%">
        <h3><b>Festive Party Nights</b></h3>
        <p>Join us this festive season and treat yourself and those you care for to an extra special break or party filled with fabulous food, fine wine and endless fun.
        </p>       
    </div>
    <div class="threeimage">
        <img src="images/newyear.jpeg" alt="newyear" style="width:100%">
        <h3><b>New Year Breaks</b></h3>
        <p>If you want to start 2022 with a peaceful break away, look no further than our wide range of great New Year stays for January and beyond.  
        </p>    
    </div>
</div>

<a href="upcoming" class="button">Discover More</a>   

<div class="section">
    <a href="rooms"><h2>Our Rooms</h2></a>
    <div class="twoimage">
        <img src="images/doubleroom.jfif" alt="Forest" style="width:100%">
        <h3><b>Double</b></h3>
        <p>Discover your home away from home in the heart of the bustling capital, your chic and stylish Standard Double room. Whether you're here for business pleasure, or both, - chill out on the comfy bed, catch up on your shows on the 43" HD Smart TV or enjoy some of the fast, free unlimited WiFi. 
		</p>
    </div>
    <div class="twoimage">
        <img src="images/twinroom.jpeg" alt="Forest" style="width:100%">
        <h3><b>Twin</b></h3>
        <p>Comfortable and stylish, our Twin Standard room is perfect for you and a family member or friend staying in Norwich. Quiet, spacious and classically decorated, you’ll instantly feel right at home.  
        </p>       
    </div>
</div>

<a href="rooms" class="button">Discover More</a>

<div class="oneimage">
	<img src="images/landinghero2.jfif" alt="Forest" style="width:100%">
</div>

<div class="section">
    <h2>Our Facilities</h2>
    <div class="threeimage">
        <img src="images/hotelrestaurant.jfif" alt="Forest" style="width:100%">
        <h3><b>Dining</b></h3>
        <p>In the luxurious setting, our restaurants and bars are beautifully elegant - a place where traditional and delicious British food triumphs. Our one-of-a-kind bar is also ideal for those who want a relaxing drink to wind down the evening with our huge range of different alcoholic and non-alcoholic beverages.
            </p>
    </div>
    <div class="threeimage">
        <img src="images/gym.jfif" alt="Forest" style="width:100%">
        <h3><b>Gym</b></h3>
        <p>The Lakeside Gym offers all you need to refresh your senses. Enjoy your personal workout on some of the latest gym equipment including Technogym treadmills and elliptical equipment, free weights and gym balls. Cardio machines are fitted with personal television screens to keep you entertained while you work out. The gym is located on the third level and is open from 7.00am to 7.00pm daily.
        </p>       
    </div>
    <div class="threeimage">
        <img src="images/meetingroom.jfif" alt="Forest" style="width:100%">
        <h3><b>Meeting and Events</b></h3>
        <p>Perfect for parties and revelries, we feature a wide range of venues for meetings and events, accommodating 20 to 60 guests. Each venue is a unique experience, featuring innovative meeting space as well as cuisine with glimpses of local art and culture.
        </p>      
    </div>
</div>

<a href="facilities" class="button">Discover More</a> 



<%- include('footer') %>