
    
    <div >
        <div class="twoimage">
            <img src="images/twinroom.jpg" alt="Forest" style="width:100%">
            <h3><b>Twin Standard | Available! </b></h3>
            <p>Comfortable and stylish, our Twin Standard room is perfect for you and a family member or friend staying in Norwich. Quiet, spacious and classically decorated, you’ll instantly feel right at home.  
            </p>
        </div>
        </div>
