

    <div >
        <div class="twoimage">
            <img src="images/doubleroom.jfif" alt="Forest" style="width:100%">
            <h3><b>Double Standard | Available! </b></h3>
            <p>Discover your home away from home in the heart of the bustling capital, your chic and stylish Standard Double room. Whether you're here for business pleasure, or both, - chill out on the comfy bed, catch up on your shows on the 43" HD Smart TV or enjoy some of the fast, free unlimited WiFi. 
            </p>
        </div>
    </div>
    
    

