<div >
        <div class="twoimage">
            <img src="images/twinsuperior.jfif" alt="Forest" style="width:100%">
            <h3><b>Twin Superior | Available! </b></h3>
            <p>The Twin room comes with two separate beds and the option of a rollaway bed for a third person, making them the perfect option for your Norwich stay.
            </p>       
        </div>
    </div>
