<div >
       <div class="twoimage">
            <img src="images/doublesuperior.jpg" alt="Forest" style="width:100%">
            <h3><b>Double Superior | Available! </b></h3>
            <p>Want a place with more space? With all the trimmings of the Double Superior rooms plus some extras like complimentary mineral water, our Deluxe Double rooms are roomier, with luxurious double beds, a desk and stylish furnishings. 
            </p>    
        </div>
    </div>
    
    
