<%- include('head') %>

<%- include('nav') %>

<img src="images/upcominghero.jpeg" alt="upcominghero" style="width:100%">

	
	<h2>What's Coming Up</h2>
    <h4>With glamorous parties, luxurious afternoon teas and breaks that will make your year. This time around we are making your celebrations even more special. <br><br><br>
        <b>To book a party night call 888-555-555, or email us here. </b><br><br><br>
        We have plenty of availability for those visiting friends and family this Christmas in and around Norfolk and we would love to welcome you over the festive period.<br><br><br>
    </h4>

<div class="section">
    <div class="twoimage">
        <img src="images/christmas.jpeg" alt="christmas" style="width:100%">
        <h3><b>Christmas Breaks</b></h3>
        <p>Our Christmas breaks have been thoughtfully designed with an array of enticing festive treats. Celebrate a night filled with festive magic with your loved one. <br><br>
        <b>Starts from £208 per package</b></p>
    </div>
    <div class="twoimage">
        <img src="images/festive.jpeg" alt="festive" style="width:100%">
        <h3><b>Festive Party Nights</b></h3>
        <p>Join us this festive season and treat yourself and those you care for to an extra special break or party filled with fabulous food, fine wine and endless fun.<br><br>
        <b>Starts from £348 per package</b></p>  
    </div>
</div>

<div class="section">
    <div class="twoimage">
        <img src="images/newyear.jpeg" alt="newyear" style="width:100%">
        <h3><b>New Year Breaks</b></h3>
        <p>If you want to start 2022 with a peaceful break away, look no further than our wide range of great New Year stays for January and beyond.<br><br>  
        <b>Starts from £199 per package</b></p>  
    </div>
</div>

<%- include('footer') %>


